extends ../layout

block content
  h1 Sistema NodeJs
  br
  ul
    li 
      a(href="/clientes" title="Clientes") Clientes
    li 
      a(href="/usuarios" title="Usuários") Usuários
    li 
      a(href="/contato" title="Contato") Contato
    
  
